<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.app.core.mapper.StudentMapper">

    <resultMap id="studentMap" type="Student">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="student_number" property="studentNumber"/>
        <result column="birth_date" property="birthDate" />
        <result column="gender" property="gender" />
        <result column="national" property="national" />
        <result column="phone_number" property="phoneNumber" />
        <result column="native_place" property="nativePlace"/>
        <result column="team_id" property="teamId"/>
<!--        <association property="team" column="team_id"-->
<!--            resultMap="teamMap" columnPrefix="t_"/>-->
    </resultMap>

    <!--使用嵌套查询，可避免n+1问题-->
    <select id="selectStudent" resultMap="studentMap">
        select
            id,
            name,
            student_number,
            birth_date,
            gender,
            national,
            phone_number,
            team_id,
            native_place
        from student
        where id = #{id};
    </select>

<!--    查询总个数 （只有一个参数时用_parameter） 使用CONCAT拼接%通配符 -->
    <select id="selectStudentCount" resultType="java.lang.Integer">
        select count(*)
        from student
        <if test="teamId!=null">where team_id = #{teamId}
            <if test="name!=null">and name like CONCAT('%',#{name},'%')</if>
        </if>
        <if test="teamId==null">
            <if test="name!=null">where name like CONCAT('%',#{name},'%')</if>
        </if>
    </select>

    <select id="selectStudentPage" resultMap="studentMap">
        select *
        from student
        <if test="teamId!=null">where team_id = #{teamId}
            <if test="name!=null">and name like CONCAT('%',#{name},'%')</if>
        </if>
        <if test="teamId==null">
            <if test="name!=null">where name like CONCAT('%',#{name},'%')</if>
        </if>
        order by CONVERT(student_number,SIGNED) asc
        limit  #{startIndex},#{pageSize}
    </select>

    <insert id="insertStudent" parameterType="com.management.app.core.model.entity.Student" keyProperty="id">
        insert into
        student(name, student_number, birth_date, gender, national, phone_number, team_id, native_place)
        values(#{name}, #{studentNumber}, #{birthDate}, #{gender}, #{national}, #{phoneNumber}, #{teamId}, #{nativePlace});
    </insert>

    <update id="updateStudent" parameterType="com.management.app.core.model.entity.Student">
        UPDATE student
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="studentNumber!=null">student_number=#{studentNumber},</if>
            <if test="birthDate!=null">birth_date=#{birthDate},</if>
            <if test="gender!=null">gender=#{gender},</if>
            <if test="national!=null">national=#{national},</if>
            <if test="phoneNumber!=null">phone_number=#{phoneNumber},</if>
            <if test="teamId!=null">team_id=#{teamId},</if>
            <if test="nativePlace!=null">native_place=#{nativePlace},</if>
        </set>
        WHERE
        id=#{id};
    </update>

    <delete id="deleteStudent" parameterType="int" >
        delete from
        student
        where
        id=#{id}
    </delete>

    <delete id="deleteStudents" parameterType="int" >
        delete from
        student
        where
        team_id=#{teamId}
    </delete>

</mapper>
